<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog da Hcode</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        
        <div id="hcode-blog">
            <header>
                <div class="container">

                    <nav class="navbar">

                        <a href="#" class="text-center logo">
                            <img src="./assets/img/logo.svg" alt="Hcode Treinamentos">
                            Blog
                        </a>

                        <div v-if="isLogged" class="login">
                            <h4>Seja bem-vindo {{ username }}</h4>
                            <a href="#" v-on:click.prevent="Logar" class="logout bg-danger text-white">Fazer Logout</a>
                        </div>
                        
                        <a href="#" class="login bg-primary text-white" v-on:click.prevent="Logar" v-else>Fazer login</a>

                    </nav>
                </div>
            </header>  
            <section class="posts">

                <div class="container">

                    <div class="row post-item" v-for="post in posts">

                        <div class="col-11">

                            <img :src="post.img" :alt="post.imgTitle">
                            <h2>{{post.title}}</h2>
                            <p>
                                {{post.post | truncate(26)}}
                            </p>

                        </div>

                    </div>
                    
                </div>

            </section>

            <footer>
                <p class="text-center">Visite: <a href="https://youtube.com/hcodebrasi">Hcode Treinamentos</a></p>
            </footer>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
        <script>

            let app = new Vue({
                el: '#hcode-blog',
                data: {
                    isLogged: false,
                    username: 'Leonardo',
                    posts: [{
                        img:'./assets/img/post1.webp',
                        imgTitle:'MySql',
                        title:'Mysql',
                        post:`Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Officiis id quaerat iste consectetur reiciendis, 
                        ex distinctio soluta fuga blanditiis neque dolore, 
                        assumenda dolorum, quas doloribus illo magni ab ad suscipit?`
                    }, 
                    {
                        img:'./assets/img/post2.webp',
                        imgTitle:'Programação funcional',
                        title:'Programação funcional',
                        post:`Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Officiis id quaerat iste consectetur reiciendis, 
                        ex distinctio soluta fuga blanditiis neque dolore, 
                        assumenda dolorum, quas doloribus illo magni ab ad suscipit?`
                    },
                    {
                        img:'./assets/img/post3.webp',
                        imgTitle:'PHP 7',
                        title:'PHP 7',
                        post:`Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Officiis id quaerat iste consectetur reiciendis, 
                        ex distinctio soluta fuga blanditiis neque dolore, 
                        assumenda dolorum, quas doloribus illo magni ab ad suscipit?`
                    },]
                },
                methods:{
                        Logar(){
                            this.isLogged = !this.isLogged;
                            console.log(this.isLogged);
                        }
                    }
            })
        </script>
    </body>
</html>